* {
    margin: 0;
    font-family: 'Tilt Prism';

}

body, html {
    background-image: url(geo.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

hr {
    border: 5px solid white;
    opacity: 1;
    width: 100px;
}

h1 {
    font-size: 5rem;
    color: white;
    font-weight: 900;
}

.h1-info {
    font-size: 2rem;
    color: white;
    font-weight: 900;
}

.buffer {
    height: 5rem;
}

.btn-primary {
    font-weight: 900;
    border-radius: 300px;
    height: 100px;
    width: 200px;
    --bs-btn-hover-bg: white;	
    --bs-btn-hover-border-color: white;
    --bs-btn-hover-color: black;
    --bs-btn-hover-border-width: 5px;
}

.btn-primary:hover {
    border-width: 5px;
}

.btn-lg {
    padding: 1rem 1rem;
    margin-top: 15px;
}

h2 {
    font-size: 2rem;
    color: white;
    font-weight: 900;
    margin-top: 5rem;
    background-image: none;
}


